body {
  margin: 0;
}
.nav {
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  background-color: rgb(31, 35, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  z-index: 8;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 5px 2px;
  position: fixed;
}
.headerContainer {
  display: flex;
  width: 60%;
  padding-left: 0;
  justify-content: space-around;
}
.nav_text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav_text:hover,
a:hover {
  color: #ff7676;
}

.nav_text,
a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: calc(7px + 1.5vmin);
}
